src/lib*.lo
src/lib*.la
src/.libs/
src/.deps/
config.log
config.status
configure~
output*
*trace.txt
*.cache
m4
*.m4
Makefile.in
*.o
cdsprpcd
adsprpcd
mdsprpcd
sdsprpcd
config.guess
depcomp
stamp-h1
libtool
install-sh
config.sub
config.guess
configure
compile
Makefile
missing
ltmain.sh